{% extends "base.html" %}
{% load static %}
{% block title %}Автор{% endblock %}
{% block content %}
<h1>Привет, я автор!</h1>
<img src="{% static 'img/foto.jpg' %}" alt="Я" style="width:300px;height:350px;" align="left"
  vspace="5" hspace="5">
<p class="text-start">Вы когда-нибудь сталкивались с тем, что ваша мама по пять раз в день обращается к вам с вопросом о том, как продвигается ваш поиск работы, а под конец лишь подозрительно хмыкает, когда вы утверждаете, что никакого прогресса не наблюдается. Именно так я и живу сейчас. Но надеюсь, что в ближайшее время мне будет предоставлен полный рабочий день Backend-разработчика на Python. Кстати, хорошая новость: я могу оказаться вам полезней, чем мама, требующая от вас отчета в своих действиях. Позвольте рассказать вам больше.
<p>Последние 2,5 года работаю инженером в сфере телекоммуникаций. Процессы работы налажены и автоматизированны, из-за чего у меня появилось больше свободного времени. Поймал себя на том, что работа не приносит мне больше удовольствия и решил воплотить давнюю мечту --- стать программистом. Выбор языка программирования пал на Python, а направление выбрал - Backend-разработка.
<p>Последние полгода много работал с API, сделал несколько проектов на Django и DRF, написал несколько telegram_bot-ов, параллельно участвую в OpenSource-проекте со студентами из Практикума, и изучаю новый Framework FastAPI. Все проекты выложены на Github: https://github.com/DmitriiParshin.
<p>Интересуюсь новостями из сферы IT на habr.com и tproger.ru, ищу ответы на stackoverflow.com и github.com, решаю задачи на leetcode.com и codewars, осилил "Изучаем Python", читаю "Программирование на Python" Марка Лутца и обязательно прочту "Чистый код" Роберта Мартина
<p>К своим положительным чертам я отношу привычку к самообучению и саморазвитию. Так же умею управлять своим рабочим временем и работать в команде. Участвую в чемпионате города по мини-футболу за команду своего района и готовлюсь первый раз принять участие в соревнованиях по триатлону.
{% endblock %}